*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary: #1e2e42ed;
    --secondary: #071529;
    --text-primary: #fbfbfb;
    --text-scondary: #c0bfbf;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 63.5%;
    scroll-behavior: smooth;
}
.fondo{
    position: fixed;
    width: 100%;
    height: 100%;
}
.fondo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
header{
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    display: grid;
    align-content: center;
    padding: 0 10px;
    box-shadow: 0px 0px 18px 1px var(--secondary);
    /* overflow-y: scroll;
     */
}
.header-container{
    padding: 30px 0;
}
header .top{
    text-align: center;
    margin-bottom: 20px;
}
.top h1{
    color: var(--text-primary);
    margin-bottom: 15px;
    font-size: 3rem;
}
.top p{
    color: var(--text-scondary);
    margin-bottom: 10px;
    font-size: 1.3rem;
}
header .fotoperfil{
    width: calc(100% - 150px);
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
nav{
    width: 90%;
    margin: 0 auto;
}
li{
    width: 100%;
    list-style: none;
}
a{
    text-decoration: none;
}
nav a{
    display: block;
    width: 100%;
    color: var(--text-scondary);
    font-size: 1.5rem;
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: var(--secondary);
    margin-bottom: 2px;
}
nav span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 90px;
}
nav .perfil{
    background-image: url('https://img.icons8.com/ios-glyphs/60/ffffff/user-male-circle.png');
}
nav .portafolio{
    background-image: url('https://img.icons8.com/ios-filled/50/ffffff/portfolio.png');
}
nav .sobremi{
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/about.png');
}
nav .contacto{
    background-image: url('https://img.icons8.com/pastel-glyph/64/ffffff/new-message--v1.png');
}
header .bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.social{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.Facebook{
    background-image: url('https://img.icons8.com/ios-filled/50/ffffff/facebook--v1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.Linkedin{
    background-image: url('https://img.icons8.com/ios-filled/50/ffffff/linkedin.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.instagram{
    background-image: url('https://img.icons8.com/ios-filled/50/ffffff/instagram-new--v1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
main{
    width: calc(100% - 320px);
    position: absolute;
    left: 320px;
}
.section-perfil{
    width: 100%;
    height: 100vh;
    background-color: #f2f4f7;
}
.section-portafolio{
    width: 100%;
    height: 100vh;
    background-color: #d5dbe3;
}
.section-about{
    width: 100%;
    height: 100vh;
    background-color: #bac2cc;
}
.section-contact{
    width: 100%;
    height: 100vh;
    background-color: #cfd7e1;
}
.checkin{
    display: none;
}
.menu-check{
    display: none;
}
.menu-check img{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-height: 650px){
    .header-container{
        overflow-y: scroll;
        overscroll-behavior-y: auto;
    }
}
@media (max-width: 950px) {
    header {
        transform: translate(-320px);
        transition: all 450ms;
    }
    main{
        left: 0;
        width: 100%;
        overflow-x: hidden;
    }
    #btn-check:checked ~ .main-container{
        transition: all 450ms; 
        transform: translate(320px);
    }
    .menu-check{
        display: block;
        position: absolute;
        top: 10px;
        left: 335px;
        transition: transform 450ms;
        cursor: pointer;
    }
    #btn-check:checked ~ header{
        transform: translateX(0px);
        transition: all 450ms;
    }
}
@media (max-width: 400px) {
    #btn-check:checked ~ header > div > label{
        transform: translateX(-320px);
    }
}